@model GHM_ERP.Models.SaleViewModel
@using BusinessObjects
@using GHM_ERP.Models
@using BusinessObjects.Categories
@using BusinessObjects.Invoicing
@using GHM_ERP.Util

@{
    ViewBag.Title = "Sales";
}

@if (Model == null)
{
    <h2>New Sale</h2>
}
else
{
    <h2>Edit Sale</h2>
}


@using (Html.BeginForm()) 
{
    @*@Html.AntiForgeryToken()*@
    
    <div class="form-horizontal mainform">
        @*<h4>Invoice</h4>*@
        <hr />
        @Html.ValidationSummary(false)

        <div class="form-group">
            @Html.LabelFor(model => model.Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Time",Html.FormatAsDateTime(DateTime.Now), new { @class = "form-control time",type="datetime",required = "required"})
                @Html.ValidationMessageFor(model => model.Time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="@Html.NameFor(m => m.ClientId)" id="@Html.IdFor(m => m.ClientId)" class="form-control combosearch" required>
                    @*<option value="">Non Registered Customer</option>*@
                    @foreach (var cl in (IEnumerable<ClientViewModel>)ViewBag.Clients)
                    {
                        <option value="@cl.ClientID" data-name="@cl.Name" data-credits="@cl.Credits"
                                data-address="@cl.Location">
                            @cl.Name  -  @cl.Location
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.ClientId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SalesRepId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SalesRepId, new SelectList(ViewBag.SalesReps, "Id", "FullName"), "None", new { @class = "form-control combosearch" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        @* ITEMS *@
        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-sm btn-success" onclick="addProdRow()" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Item
                </button>
            </div>
        </div>
        <table class="table table-condensed">
            @*<caption>Items purchased</caption>*@
            <thead>
                <tr>
                    <th class="col-md-2">Product</th>
                    <th class="col-md-1">Details</th>
                    <th class="col-md-3">Source</th>
                    <th class="col-md-1">Length</th>
                    <th class="col-md-1">Quantity</th>
                    <th class="col-md-1">Unit Price</th>
                    <th class="col-md-2">Price</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody id="itemsbody">
                <tr class="hidden" id="itemtemplaterow">
                    <td>
                        <input type="hidden" name="Items.Index" value="" disabled='disabled' class="hiddenindexer" />

                        <select name="Items[INDEXER].Id" class="form-control combosearch comboproduct" onchange="updateProdDetailCols($(this))">
                            @foreach (var prd in (IEnumerable<ProductProfile>)ViewBag.ProductProfiles)
                            {
                                var concatRm = string.Join(",", prd.RawMaterialProfiles.Select(r => r.Id));

                                <option value="@prd.Id" data-desc="@prd.Description" data-color="@prd.Color"
                                        data-thickness="@prd.Thickness" data-type="@prd.Type"
                                        data-width="@prd.Width" data-rawmaterials="@concatRm"
                                        data-unitprice="@prd.UnitPrice"  >@prd.Code  -  @prd.Description</option>
                            }
                        </select>
                    </td>
                    <td>
                        <a tabindex="0" class="btn btn-sm btn-link detailpopup" role="button" data-toggle="popover" data-trigger="focus"
                           title="Some title" data-content="Content goes here">Info</a>
                    </td>
                    <td>
                        <select name="Items[INDEXER].SourceInvoiceId" class="form-control combosearch comborm" required>
                            <option value="">No source selected</option>
                        </select>
                    </td>
                    <td>
                        <input name="Items[INDEXER].Length" type='number' placeholder="Length" class="form-control input-sm length" value="1"
                               onchange="updatePrice($(this));"  required />
                    </td>

                    <td><input name="Items[INDEXER].Qty" type='number' placeholder="Qty" class="form-control input-sm qty" value="1"
                         onchange="updatePrice($(this));" required />
                    </td>

                    <td>
                        <input name="Items[INDEXER].UnitPrice" type='number' placeholder="Unit Price" 
                               class="form-control input-sm unitprice"    onchange="updatePrice($(this));" required />
                    </td>

                    <td>
                        <input name="Items[INDEXER].Price" type='number' placeholder="Price" class="form-control input-sm price"
                               onchange="updateTotal()"  readonly/>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-warning" onclick="deleteRow(this)">
                            <span class="glyphicon glyphicon-remove"></span>
                            Remove
                        </button>
                    </td>
                </tr>
                <tr id="emptylistmessage">
                    <td colspan="7" class="text-center"><span>No items added to Invoice</span></td>
                </tr>
                <tr id='totalrow'>
                    <th colspan="6"> Total </th>
                    <td id="itemtotal"> 0.00</td>
                </tr>
            </tbody>
        </table>


        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Invoice Confirmation</h3>
                </div>
                <div class="panel-body">
                    <table class="table-condensed ">
                        <tbody>
                            <tr>
                                <th>Item Count</th>
                                <td id="itemCount">0</td>
                            </tr>
                            <tr>
                                <th class="col-md-8">Sales Total </th>
                                <td class="col-md-4" id="summarytotal">0.00</td>
                            </tr>
                            <tr>
                                <th class="col-md-8">Tax </th>
                                <td class="col-md-4" >@(((decimal)ViewBag.TaxPercentage).ToString("0.00"))%&nbsp;included</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <input type="submit" value="Create Invoice" class="btn btn-primary" onclick="return validateSalesInvoice();" />
                        </div>
                        <div class="col-md-offset-1 col-md-2">
                            <a href="@Url.Action("Sales")" class="btn btn-danger">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    /* Raw material balances */
    rawMaterialList = [];

    (function (){
        var item = 0;
        @foreach (var bal in (IEnumerable<RawMaterialBalance>)ViewBag.Balances)
        {
            
            <text> 
        item = { itemid : @bal.ItemId , reference : htmlDecode('@bal.ItemPurchase.Reference'),
            invoiceDesc : htmlDecode('@bal.ItemPurchase.Invoice.Description'),
            itemDesc : htmlDecode('@bal.ItemPurchase.Description'), itemDate : '@bal.ItemPurchase.Invoice.Time.ToShortDateString()',
            rawMaterialDesc : htmlDecode('@bal.Profile.Description'), rawMaterialId: @bal.Profile.Id ,
            rawMaterialCode : htmlDecode('@bal.Profile.Code'),
                balance: @bal.RemainingQuantity.ToString("0.00")  , width: @bal.Profile.Width
                };
            rawMaterialList.push(item);
            </text>
        }
    
    } )();


</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/ghm.invoices.js"></script>
}
