@model BusinessObjects.Invoice
@using BusinessObjects.Categories;
@using BusinessObjects;
@using GHM_ERP.Util;


@{
    ViewBag.Title = "Sale Details";
}

<h2>Sale Details</h2>

<div id="section-to-print">
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Invoice No.
        </dt>

        <dd>
            @Model.FormattedInvoiceNo
        </dd>
        <dt>
            Client
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.FormatAsDateTime(Model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.InvoiceStatusDisplay(Model.Status)
        </dd>

        <dt >
            @Html.DisplayNameFor(model => model.SalesRep)
        </dt>

        <dd>
            @if (Model.SalesRep != null)
            {
                @Html.ActionLink(Model.SalesRep.FullName, "Details", "SalesRep", new { id = Model.SalesRepId.Value }, new { })
            }
            else
            {
                <em>None</em>
            }

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GatePassRef)
        </dt>

        <dd>
            @(Model.GatePassRef ?? "-")
        </dd>

        @if (Model.RelatedInvoiceId.HasValue)
        {
            <dt>
                Sales Order
            </dt>

            <dd>
                @Html.ActionLink("View", "Details", "SalesOrder", new { id = Model.RelatedInvoiceId.Value }, new { })
            </dd>
        }

    </dl>
    <a href="@Url.Action("Invoice", "Print", new { id = @Model.Id})" class="btn btn-info no-print">Print Invoice</a>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="@Url.Action("VatInvoice", "Print", new { id = @Model.Id})" class="btn btn-info no-print">Print VAT Invoice</a>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="@Url.Action("SetGatePass", "ProductInvoice", new { id = @Model.Id})" class="btn btn-success">Set Gate Pass</a>
    <hr />
    <h4>Items</h4>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Type</th>
                <th>Raw Mat.</th>
                <th>Source Purchase</th>
                <th>Length</th>
                <th>Qty</th>
                <th>Unit Price</th>
                <th>Price</th>
                <th>Cost</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var prof = (ProductProfile)item.Profile;
                <tr>
                    <td>
                        <a href='@Url.Action("Details","ProductProfile",new{id=prof.Id} )'>
                            @prof.Code - @prof.Description
                        </a>
                    </td>
                    <td>@prof.Type</td>
                    <td>
                        <a href='@Url.Action("Details","RawMaterialProfile", new{id=item.SourceRef.ProfileId} )'>
                            @item.SourceRef.Profile.Description
                        </a>
                    </td>
                    <td>
                        @if(item.SourceRef != null)
                        {
                            <a href='@Url.Action("PurchaseDetails","ProductInvoice", new{id=item.SourceRef.Invoice.Id})'>
                                @Html.FormatAsDate(item.SourceRef.Invoice.Time)  
                                -
                                @item.SourceRef.Description
                            </a>
                        }
                        else
                        {
                            @:N/A
                        }
                       
                    </td>
                    <td>@item.Length</td>
                    <td>@item.Qty</td>
                    <td> @Html.FormatAsMoney(item.UnitPrice) </td>
                    <td>@Html.FormatAsMoney(item.Price)</td>
                    <td>@Html.FormatAsMoney(item.RawMaterialCost)</td>
                    <td>@Html.FormatAsMoney(item.Price - item.RawMaterialCost)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="success">
                <th colspan="7">Total</th>
                <th>@Html.FormatAsMoney(Model.Items.Sum(i => i.Price))</th>
                <th>@Html.FormatAsMoney(Model.Items.Sum(i => i.RawMaterialCost))</th>
                <th>@Html.FormatAsMoney(Model.Items.Sum(i => i.Price - i.RawMaterialCost))</th>
            </tr>
        </tfoot>
    </table>
    <hr />
    <h4>Payment Receipts</h4>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Method</th>
                <th>Date</th>
                <th>Description</th>
                <th>Details</th>
                <th>Amount</th>
            </tr>
        </thead>
        @{
            var showingPayments = Model.PaymentReceipts.Where(rec => rec.PaymentMethod != PaymentReceipt.PaymentType.Credit &&
                                                    rec.Status == PaymentReceipt.PaymentStatus.Accepted).ToList();
        }
        <tbody>
            @foreach (var item in showingPayments)
            {
                <tr>
                    <td>@item.PaymentMethod</td>
                    <td>@Html.FormatAsDateTime(item.Time) </td>
                    <td>@item.Description</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(item.RefNo))
                        {
                            <strong>Reference:</strong> @item.RefNo     <br />
                        }
                        @if (item.ChequeId.HasValue)
                        {
                            
                            <strong>Bank:</strong> @item.ChequeRef.Bank
                            <br />
                            <strong>Cheque No:</strong> @item.ChequeRef.ChequeNo
                            if (item.ChequeRef.SettleDate.HasValue)
                            {
                                <br />
                                <strong>Settle Date:</strong> @Html.FormatAsDate(item.ChequeRef.SettleDate.Value)
                            }
                        }
                    </td>
                    <td> @Html.FormatAsMoney(item.Amount) </td>
                </tr>
            }

            @if(!showingPayments.Any())
            {
                <tr>
                    <td class="text-center" colspan="5"> <em>No payments</em></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total</th>
                <td>@Html.FormatAsMoney(showingPayments.Sum(i => i.Amount))</td>
            </tr>
        </tfoot>
    </table>

    <hr/>
    <h4>Related Sales returns</h4>
    @{ var salesReturns = (IEnumerable<Invoice>)ViewBag.SalesReturns; }
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Invoice No.</th>
                <th>Date</th>
                <th>Status</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inv in salesReturns)
            {
                <tr>
                    <td>@Html.ActionLink(inv.FormattedInvoiceNo,"Details","SalesReturn",new { id = inv.Id },null)</td>
                    <td>@Html.FormatAsDateTime(inv.Time)</td>
                    <td>@Html.InvoiceStatusDisplay(inv.Status)</td>
                    <td>@Html.FormatAsMoney(inv.GetTotal())</td>
                </tr>
            }
            @if(!salesReturns.Any())
            {
                <tr>
                    <td colspan="4" class="text-center">
                        <em>No Sales Returns</em>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<p>

    @Html.ActionLink("Back to List", "Sales")
</p>


@section Scripts {
    <link href="~/Content/printstyles.css" rel="stylesheet" />
}
