@model IEnumerable<BusinessObjects.Invoicing.RawMaterialBalance>
@using GHM_ERP.Util
@{
    ViewBag.Title = "Inventory";
}

<h2>@ViewBag.Title</h2>


<table class="table">
    <tr>
        <th>
            Profile
        </th>
        <th>
           Description
        </th>

        <th>Purchase Date</th>
        <th>
            Invoice No.
        </th>
        <th>Initial Qty</th>
        <th>Remaining Qty</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", "RawMaterialProfile", new { id = item.ProfileId })">
                @item.Profile.Code -  @item.Profile.Description
            </a>
        </td>
        <td>@item.ItemPurchase.Description</td>
        <td>@Html.FormatAsDate(item.ItemPurchase.Invoice.Time)</td>
        <td>
            @Html.ActionLink(item.ItemPurchase.Invoice.FormattedInvoiceNo, "PurchaseDetails", "ProductInvoice"
                         , new { Id = item.ItemPurchase.InvoiceId }, new { })
        
        </td>
        <td>@Html.FormatAsQty( item.ItemPurchase.Qty)</td>
        <td>@Html.FormatAsQty(item.RemainingQuantity)</td>
    </tr>
}

</table>
